@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Source+Sans+Pro:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --bg-color: #222831;
    --second-bg-color: #393e46;
    --text-color: #0092ca;
    --main-color: #eeeeee;
}

body {
    min-height: 100vh;
    background: linear-gradient(#393e46,#0092ca);
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}

section {
    margin: 40px 20em;
}
 
.navbar {
    background-color: #eeeeee;
    width: 100%;
    display: flex;
}

.logo_nav {
    margin-left: 40px;
}
.nav_link {
   text-decoration: none;
   padding: 6px 15px;
   color: black;
   border-radius: 20px;
   font-weight: bold;
   font-size: 18px;
}

.nav_link:hover {
    background-color: #0092ca;
    color: aliceblue;
}

.home-manga-box {
    background-color: #222831;
    margin: 40px 20em;
    border-radius: 5px;
}

.text-manga-box {
    margin: 0 15px;
    background-color:#393e46;
    color: #fff;
    font-size: 18px;
    padding: 0 15px 5px;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
}

.suite-manga {
    display: flex;
    justify-content: end;
    padding:  0 7px;
    margin: 0 10px;
    color: #0092ca;
}

.top-scan-box {
    display: flex;
    justify-content: center;
    padding: 0 20px 10px;
}

a.boxmanga{
    display: inline-block;
    white-space: pre-line;
    text-align: center;
    text-decoration: none;
    color: #eeeeee;
    font-size: 15px;
    margin: 0 20px;
}
img.pp {
    width: 10vw;
    height: 15vw;
}

.slider-1{
    max-height: 400px;
    overflow: hidden;
    background: black;
    margin-bottom: 40px;
}
.slider-1 .slider {
    display: flex;
    animation : slider-1 12s infinite ease-in-out;
}

.slider-1 img{
    flex-shrink: 0;
    width: 100%;
    opacity: 0.5;
}


@keyframes slider-1 {
    0%,
    45% {
      transform: translateX(0);
    }
    50%,
    95% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-200%);
    }
}

.manga-scan-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    background-color: #222831;
    border-radius: 5px;
}

.scan {
    display: flex;
}

.scan-left {
    margin-right: 20px;
}

.scan-img {
    width: 15vw;
    height: 20vw;
}

.scan-right {
    margin-bottom: auto;
    background-color: #222831;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
}

.scan-title {
    font-weight: bold;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 10px 0;
}

.scan-res {
    color: #eeeeee;
    font-weight: 900;
    font-size: 20px;
    margin: 10px 0;
}

.scan-descrip {
    line-height: 1.5;
    color: #0092ca;
    font-size: 18px;
}

.chapite-box{
    background-color: #222831;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.chapitre-scan {
    padding: 10px 20px;
    text-decoration: none;
    color: #eeeeee;
    border: 1px solid #393e46;
    border-radius: 5px;
    margin : 5px;
    font-family: 'Roboto', sans-serif;
}

.chapitre-scan:hover {
    color:#0092ca;
    transition: .2s ease;
}
